<head>
  <link href="style.css" rel="stylesheet" type="text/css">
  <title>Shitty racing game!</title>
</head>
<body class="background-box">
  <div class="splash">
    <h1 id="title">Welcome to our shitty racing game!</h1>
    <p id="text">Get ready to experience the least fun you've had in your entire life.</p>
    <button id="joinButton">Join</button>
  </div>
  <div class="footer">
    <p><a href="./source" target="_blank">SOURCE</a> | <a href="./docs">DOCS</a></p>
  </div>
</body>
<script src="index_bundle.js"></script>
