<head>
  <link href="style.css" rel="stylesheet" type="text/css">
  <title>Shitty racing game!</title>
</head>
<body class="background-box">
  <div id="menu">
    <h1>Shitty racing game!</h1>
    <p><a href="/">exit</a> | <a href="./source" target="_blank">source</a> | <a href="./docs">docs</a></p>
    <div id="alertQueue" class="alert-queue"></div>
  </div>

  <div id="settingsModal" class="modal hidden">
    <div class="modal-content ui-box">
      <form style="color: white">
        Username:<br>
        <input type="text" id="settings_username" name="username" maxlength="9"><br><br>
        <p>Choose your car:</p>
        <label>
          <input type="radio" id="settings_color_orange" name="color" value="orange" checked>
          <img src = "images/orange.png"/>
        </label><br>
        <label>
          <input type="radio" id="settings_color_black" name="color" value="black">
          <img src = "images/black.png"/>
        </label><br>
        <label>
          <input type="radio" id="settings_color_blue" name="color" value="blue">
          <img src = "images/blue.png"/>
        </label><br>
        <label>
          <input type="radio" id="settings_color_yellow" name="color" value="yellow">
          <img src = "images/yellow.png"/>
        </label><br><br>
      </form>
      <button id="join_button">Join</button>
    </div>
  </div>

  <div id="splash" class="splash hidden">
    <h2>Waiting for more players...</h2>
    <br>
    <p>The game will start as soon as it's full. Click below to indicate you want to start with the current players.</p>
    <br><br>
    <button id="startButton">Race!</button>
  </div>

  <img id="countdown" width="250" height="88" src="images/countdown1.png"/>

  <canvas id="view" class="hidden"></canvas>

  <div class="ui-spacing-horizontal">
    <canvas id="powerup" class="ui-box hidden" width="75" height="75"></canvas>

    <table id="leaderboard" class="ui-box hidden">
      <thead>
        <th>PLAYER</th>
        <th></th>
      </thead>
      <tbody></tbody>

    <p id="roundCounter" class="textStyle"></p>
    </table>

  </div>
  <div id="gameEnding" class="splash"></div>

  <div class="playerInfo">
    <p id="rankingCounter" class="textStyle"></p>
    <canvas id="minimap" class="ui-box hidden" width="250" height="250"></canvas>
  </div>

  <canvas id="speedometer" class="hidden" width="150" height="110"></canvas>
  <script src="play_bundle.js"></script>

</body>
