* { margin: 0; padding: 0;}

body, html {
  height:100%;
  background-color: darkgreen;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
  overflow: hidden;
}

#view {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

#speedometer {
  position: absolute;
  bottom: 0;
  left: 3em;
  width: 30vmin;
  height: auto;
  opacity: 0.7;
  z-index: 5;
}

#menu {
  position: fixed;
  z-index: 5;
}

h1, h2, h3, p, a {
  color: white;
}

label img {
  margin-bottom: 5px;
}

[type=radio]{
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

[type=radio]+img{
  cursor: pointer;
}

[type=radio]:checked+img{
  animation: carDrive 2s forwards;
}

@keyframes carDrive {
  to {
    transform: translateX(20px);
  }
}

#minimap {
  position: relative;
  bottom: 0;
  right: 0;
  width: auto;
  height: 30vmin;
}

button {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border: thin solid green;
  border-radius: .4em .4em .4em;
  box-shadow: 0 .2em .4em gray;
  font-size: 125%;
  opacity: 0.8;
}

button:hover,
button:focus {
  box-shadow: rgba(0,0,0,0.7) 0 .3em 1em;
  background-color: #a0a0a0;
  opacity: 1;
}

table {
  width: 200px;
}

th {
  color: #003366;
  border: 0;
}

td {
  border: 0;
  padding: 5px;
  text-align: left;
}

#join_button {
  margin-left: 15.6%;
}

#powerup {
  display: inline-block;
  height: 5em;
  width: auto;
}

#leaderboard {
  width: auto;
  float: right;
}

#countdown {
  display: none;
  position: relative;
  text-align: center;
  margin: auto;
  top: 30%;
  z-index: 50;
}

.hidden {
  display: none !important;
}

.ui-box {
  z-index: 5;
  background-color: green;
  border-color: white;
  border-style: outset;
  box-shadow: -2px -2px 11px black,
                2px 2px 11px black;
  margin: 1em;
}

.splash {
  margin: auto;
  min-width: 40%;
  max-width: 90%;
  top: 15vh;
  text-align: center;
  position: relative;
  height: auto;
}

.splash > h1, .splash > p {
  padding: 5vh;
}

#gameEnding > p {
  padding: initial !important;
}

.footer {
  bottom: 1em;
  text-align: center;
  position: fixed;
  height: auto;
  width: 100%;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: inline-block;
  margin: 15% auto;
  padding: 20px;
}

.ui-spacing-horizontal {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
}

.alert-queue {
  display: block;
  position: relative;
  z-index: 999;
}

.alert-box {
  display: block;
  margin: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: red;
  overflow: auto;
  color: white;
  font-size: larger;
}

.background-box {
  width: 100%;
  height: 100%;
  background-image: url("images/racingBackground.png");
  background-size: cover;
}

.playerInfo{
  position: absolute;
  width: 32vmin;
  height: 32vmin;
  bottom: 0;
  right: 0;
  margin: 1.5em;
}

.textStyle{
  text-align: center;
  position: absolute;
  text-decoration: overline underline;
  color: #e63900;
  font-size: 35px;
  z-index: 40;
}

#rankingCounter{
  left: 15px;
  bottom: 100%;
}

#roundCounter{
  display: flex;
  top: 0.5em;
  left: -2em;
}

/* hide some ui elements on small screens */
@media only screen and (max-width: 720px) {
  #leaderboard {
      display: none;
  }
  #speedometer {
    display: none;
  }
}
